ManagedIdentity/pipeline/mainPL.json
{
	"name": "mainPL",
	"properties": {
		"activities": [
			{
				"name": "adlsMetaData",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "rawfiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "foreachRawfile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "adlsMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('adlsMetaData').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copyRawtoStaging",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "raw",
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "rawfiles",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "stagingfiles",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "writeToAzureSQL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "copyRawtoStaging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['motorid']"
											},
											"sink": {
												"name": "motorid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['pressure']"
											},
											"sink": {
												"name": "pressure",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['temperature']"
											},
											"sink": {
												"name": "temperature",
												"type": "Int32"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "rawfiles",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "motorReader",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": [],
		"lastPublishTime": "2020-08-12T16:52:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}